div {
    height: 50px;
    background: #323232;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
    padding-left: 10px;

}

div:hover {
    background: #292929;
}

.icon {
    color: whitesmoke;
    width: 25px;
    margin-right: 10px;
}

span {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}