.communication {
    grid-column: 1;
    grid-row: 1;
    background: #424242;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: min-content auto;
    grid-row-gap: 10px;
}

.channels {
    grid-row: 1;
    border-radius: 0 0 10px 0;
    padding: 10px 0 10px 0;
    background: #323232;
}

.users {
    grid-row: 2;
    background: #323232;
    border-radius: 0 10px 10px 0;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

.global {
    height: 50px;
    background: #323232;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
    padding-left: 10px;
}

.global:hover {
    background: #292929;
}

.icon {
    color: whitesmoke;
    width: 30px;
    margin-right: 10px;
}