a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3CBDFD;
}

a:hover {
    color: #63D9FF;
}

.image-parent {
    background: #323232;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.image-placeholder {
    fill: white;
    max-height: 70%;
    max-width: 70%;
    -webkit-mask:linear-gradient(to right,#000 30%,#0005,#000 70%) right/400% 100%;
    animation: shimmer 1.5s linear infinite;
}

@keyframes shimmer {
    100% {-webkit-mask-position:left}
}

.embed {
    display: grid;
    background: #323232;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    padding: 15px 10px;
    border-radius: 10px;
    width: min-content;
    max-width: calc(100vw - 100px);
}

.icon {
    color: white;
    grid-column: 1;
    grid-row: 1 / 3;
    width: 60px;
    margin-right: 10px;
}

.link {
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 200px);
}

.filesize {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 10px;
    font-size: 16px;
    color: dimgray
}

.image {
    border-radius: 10px;
    cursor: pointer;
    max-width: 100%;
}

.image-overlay-parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay {
    max-height: calc(100vh - 60px);
    max-width: calc(100vw - 40px);
    display: block;
}

.image-border {
    padding: 10px 10px 0 10px;
    background-color: #222222;
    border-radius: 10px;
}

.overlay-download-link {
    font-size: 16px;
}