
.message-container {
    display: grid;
    grid-template-columns: 60px min-content min-content auto;
    grid-template-rows: min-content;
    margin: 4px 0;
    padding-right: 5px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    grid-column: 1;
    grid-row: 2 / 4;
    margin-left: 5px;
}

.username {
    grid-column: 2;
    grid-row: 2;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.date {
    grid-column: 3;
    grid-row: 2;
    margin-left: 5px;
    white-space: nowrap;
    color: darkgray;
    font-size: 14px;
    align-self: center;
    position: relative;
}

.date:hover::after {
    content: attr(data-date);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -5px;
    padding: 0 5px;
    background: #333333;
    color: white; 
}

.content-only-date {
    grid-column: 1;
    grid-row: 3;
    display: none;
    white-space: nowrap;
    color: darkgray;
    margin-top: 4px;
    font-size: 14px;
    margin-left: 10px;
}

.message-container:hover .content-only-date {
    display: block;
}

.message-container:hover {
    background: #333333
}

.padding {
    height: 10px;
    grid-column: 1 / 5;
    grid-row: 1;
}

.message-content {
    grid-column: 2 / 5;
    grid-row: 3;
    font-size: 18px;
    color: white;
    overflow-wrap: anywhere;
}