.add-button svg path {
    fill: currentColor;
}

.add-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    color: dimgray;
    border: none;
    background: none;
    transition: color 0.1s ease, transform 0.3s ease;
}

.add-button:hover {
    color: #9d00e7;
    transform: rotate(90deg);
}

.add-button:active {
    color: #6f00a3;
}

.send-button svg path {
    fill: currentColor;
}

.send-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: dimgray;
    border: none;
    background: none;
    transition: color 0.1s ease, transform 0.2s ease;
    margin-bottom: 10px;
}

.send-button:hover {
    color: #9d00e7;
    transform: scale(1.1);
}

.send-button:active {
    transform: translate(5px, 0px) scale(1.1);
    color: #6f00a3;
}

.text-area {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 5px;
    width: 100%;
    grid-row: 3;
    margin-bottom: 7px;
}

.input {
    width: calc(100% - 150px);
    border-radius: 10px;
    background: dimgray;
    display: flex;
}

.grow-wrap {
    display: grid;
    max-height: 400px;
    overflow: hidden;
    flex: 1;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
    max-height: 400px;
}

.grow-wrap > textarea {
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    color: whitesmoke;
    max-height: 400px;
    background: transparent;
}

.grow-wrap > textarea::placeholder {
    color: darkgray;
}

.grow-wrap > textarea, .grow-wrap::after {
    border: none;
    padding: 0.5rem;
    font: inherit;
    grid-row: 1;
    grid-column: 1;
    word-break: break-word;
}
