@using Squadtalk.Client.Models
@using Squadtalk.Client.Services

<div class="list-container">
    @if (Template is not null)
    {
        foreach (var user in UserService.Users)
        {
            @Template(user)
        }
    }
</div>

@implements IDisposable
@inject UserService UserService

@code {
    [Parameter] public RenderFragment<UserModel>? Template { get; set; }

    protected override void OnInitialized()
    {
        UserService.UserListChanged += StateHasChanged;
    }

    public void Dispose()
    {
        UserService.UserListChanged -= StateHasChanged;
    }
}