<ul class="nav nav-pills flex-row">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="Canvas" Match="NavLinkMatch.All">Random Fill</NavLink>
    </li>
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="Canvas/Simulation">Simulation</NavLink>
    </li>
</ul>