@page "/CanvasLayout"

@inherits LayoutComponentBase
@layout MainLayout

<div>
    <div class="row">
        <CanvasNavMenu />
    </div>
    <div class="col-md-12">
        @Body
    </div>
</div>

@code {
    
}