@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@layout MainLayout

@attribute [Authorize]

<div>
    <div class="row">
        <ChatNavMenu />
    </div>
    <div class="col-md-12 mt-2">
        @Body
    </div>
</div>
