@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@layout MainLayout

@* @rendermode InteractiveWebAssembly *@

@attribute [Authorize]

<PageTitle>Squadtalk | Chat</PageTitle>

<h1>Chat</h1>
<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
<hr />

<div>
    <div class="row">
        <ChatNavMenu />
    </div>
    <div class="col-md-12">
        @Body
    </div>
</div>

@code {
    
}