<ul class="nav nav-pills flex-row">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="Chat" Match="NavLinkMatch.All">Messages</NavLink>
    </li>
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="Chat/Friends">Friends</NavLink>
    </li>
</ul>