@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@layout MainLayout

@attribute [Authorize]

<PageTitle>Squadtalk | Chat</PageTitle>

<div>
    <div class="row">
        <ChatNavMenu />
    </div>
    <div class="col-md-12">
        @Body
    </div>
</div>

@code {
    
}