@page "/Settings"

@using RestSharp
@using Squadtalk.Client.Services
@using Blazored.LocalStorage

<PageTitle>Squadtalk | Settings</PageTitle>

<button @onclick="Back">Back</button>
<button @onclick="LogOut">Logout</button>

@inject NavigationManager NavigationManager
@inject JwtService JwtService
@inject RestClient RestClient
@inject ILocalStorageService LocalStorageService

@code {
    
    private void Back()
    {
        NavigationManager.NavigateTo("app");
    }
    
    private async Task LogOut()
    {
        var request = new RestRequest("api/user/logout", Method.Post);
        var currentRefreshToken = await LocalStorageService.GetItemAsync<string>("Token");

        request.AddHeader("Authorization", $"Bearer {JwtService.Token}");

        var invalidateAllSessions = false;
        
        if (invalidateAllSessions)
        {
            request.AddQueryParameter("invalidateAllSessions", invalidateAllSessions);
        }
        else
        {
            request.AddBody($"\"{currentRefreshToken}\"");
        }
        
        await RestClient.ExecuteAsync(request);

        await LocalStorageService.RemoveItemAsync("Username");
        JwtService.ClearToken();
        
        NavigationManager.NavigateTo("/", true);
    }
}