.image-container {
    position: relative;
    height: 40px;
    width: 40px;
}

.group-avatar-item {
    width: 32px;
    border-radius: 50%;
    position: absolute;
    padding: 0;
}

.group-avatar-item:nth-child(1) {
    bottom: 12px;
    left: -4px;
    z-index: 1;
}

.group-avatar-item:nth-child(2) {
    top: 12px;
    right: -4px;
    z-index: 2;
}

.image-container.inline {
    height: 30px;
    width: 30px;
}

.group-avatar-item.inline {
    width: 28px;
}

.group-avatar-item.inline:nth-child(1) {
    bottom: 7px;
    left: -5px;
}

.group-avatar-item.inline:nth-child(2) {
    top: 7px;
    right: -5px;
}