.global {
    height: 75px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border: 1px solid;
}

svg path {
    fill: currentColor;
}

.icon {
    width: 30px;
}

.menu {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.communication-tabs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-width: 100%;
}

.channels {
    width: min-content;
    background: #dfdfdf;
}

.hide-channel {
    padding-top: 0.75em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    display: flex;
}