.image-container {
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 0.5em;
}

.online-indicator {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    border: solid 3px var(--border-color);
    z-index: 4;
}

.group-avatar-item {
    width: 40px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    position: absolute;
}

.group-avatar-item:nth-child(1) {
    bottom: -6px;
    left: -4px;
    z-index: 2;
}

.group-avatar-item:nth-child(2) {
    top: -6px;
    right: -4px;
    z-index: 1;
}

.image {
    width: 50px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.image-container.inline {
    height: 30px;
    width: 30px;
    margin-right: 0;
}

.image.inline {
    width: 30px;
    margin-right: 0;
}

.online-indicator.inline {
    width: 12px;
    height: 12px;
    bottom: -3px;
    right: -1px;
    border: solid 2px var(--border-color);
}

.group-avatar-item.inline {
    width: 25px;
    border: 2px solid var(--border-color);
}

.group-avatar-item.inline:nth-child(1) {
    bottom: -4px;
    left: -3px;
}

.group-avatar-item.inline:nth-child(2) {
    top: -4px;
    right: -3px;
}