.message-container {
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: min-content;
    margin-top: 2px;
    padding: 0 4px 2px;
}

.system-message-container {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px 2px 12px;
    margin-top: 2px;
}

.system-message-container:hover {
    background: var(--mud-palette-action-default-hover);
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    grid-column: 1;
    grid-row: 2 / 4;
}

.label {
    grid-column: 2;
    grid-row: 2;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.date {
    white-space: nowrap;
    font-size: 0.8em;
    align-self: center;
    position: relative;
}

.content-only-date {
    grid-column: 1;
    grid-row: 3;
    display: none;
    white-space: nowrap;
    margin-top: 2px;
    font-size: 0.8em;
}

.message-container:hover .content-only-date {
    display: flex;
    justify-content: center;
}

.message-container:hover {
    background: var(--mud-palette-action-default-hover);
}

.padding {
    height: 3px;
    grid-column: 1;
    grid-row: 1;
}

.message-content {
    grid-column: 2;
    grid-row: 3;
    word-break: break-word;
}