.video-container {
    display: none;
    background-color: black;
    border-radius: 8px;
    order: 2;
}

.video-frame {
    width: calc(100% - 8px);
    max-width: calc(100% - 8px);
    max-height: calc(100vh - 300px);
    height: 100%;
    padding: 8px 0 0 8px;
    min-height: 500px;
}

.participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    order: 3;
}

.call-container {
    background: #ced4da;
    display: flex;
    flex-direction: column;
}

.channel-header {
    order: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    background: #ced4da;
    padding: 5px;
    --border-color: #ced4da;
}