@page "/Chat"
@using Microsoft.AspNetCore.Authorization
@* @layout ChatLayout *@

@attribute [Authorize]

<PageTitle>Squadtalk | Chats</PageTitle>

<h3>Chats</h3>

<ChannelSelector>
    @* <GroupChatTemplate> *@
    @*     <GroupChatTemplate Model="context"/> *@
    @* </GroupChatTemplate> *@
    <UserTemplate>
        <UserCardTemplate Model="context"/>
    </UserTemplate>
</ChannelSelector>

@inject ISignalrService SignalrService

@code {
    
    protected override Task OnInitializedAsync()
    {
        return SignalrService.ConnectAsync();
    }
}