@page "/Chat/{id?}"
@using Squadtalk.Client.Layout
@using Microsoft.AspNetCore.Authorization

@implements IDisposable

@layout ChatLayout

@attribute [Authorize]

<div class="d-grid">
    <div class="chat-container">
        
        <ChannelSelector>
            @* <GroupChatTemplate> *@
            @*     <GroupChatTemplate Model="context"/> *@
            @* </GroupChatTemplate> *@
            <UserTemplate>
                <UserCardTemplate Model="context"/>
            </UserTemplate>
        </ChannelSelector>
        
        <div class="message-listbox rounded my-1" id="listbox">
            <InfiniteScrolling>
                <ItemTemplate>
                    <MessageTemplate Model="context"/>
                </ItemTemplate>
                <LoadingTemplate>
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                </LoadingTemplate>
            </InfiniteScrolling>
        </div>
        
        <UploadInfo />
        
        <InputBox />
    </div>
</div>

@inject ISignalrService SignalRService
@inject ToastService ToastService
@inject IFileTransferService FileTransferService

@code {
    
    [Parameter]
    public string? Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        return SignalRService.ConnectAsync();
    }

    public void Dispose()
    {
        if (FileTransferService.UploadChannel is not { } channel) return;

        var toast = new ToastMessage(ToastType.Success, $"Your upload to {channel.Name} is still in progress.");
        ToastService.Notify(toast);
    }
}