@page "/Chat"
@using Squadtalk.Client.Layout
@using Microsoft.AspNetCore.Authorization
@using Shared.Services

@layout ChatLayout

@attribute [Authorize]

<h3>Messages</h3>

<div class="chat-container">
    <div class="message-listbox" id="listbox">
        <InfiniteScrolling>
            <ItemTemplate>
                <MessageTemplate Model="context"/>
            </ItemTemplate>
            <LoadingTemplate>
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </LoadingTemplate>
        </InfiniteScrolling>
    </div>
    
    <InputBox/>
</div>

@inject ISignalrService SignalRService

@code {
    
    protected override async Task OnInitializedAsync()
    {
        await SignalRService.ConnectAsync();
    }
}