.video-container {
    display: none;
    background-color: black;
    border-radius: 8px;
}

.video-frame {
    width: calc(100% - 8px);
    max-width: calc(100% - 8px);
    max-height: calc(100vh - 300px);
    height: 100%;
    padding: 8px 0 0 8px;
    min-height: 500px;
}

.participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Adjust the gap between items as needed */
    padding: 16px; /* Optional: padding around the grid */
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.local-screen {
    grid-column: 1;
    grid-row: 1;
}

.local-camera {
    grid-column: 1;
    grid-row: 2;
}

.remote-screen {
    grid-column: 2;
    grid-row: 1;
}

.remote-camera {
    grid-column: 2;
    grid-row: 2;
}
