.rules {
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;
}

.rule {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.separator {
    padding: 0 5px;
    font-size: 2em;
    margin-top: -16px;
    margin-bottom: -16px;
}

.remove-rule {
    padding-left: 30px;
}

.add-rule {
    
}