@page "/STmichaladdition"
@using Squadtalk.Client.Layout
@using Squadtalk.Client.Data
@* <h3>STmichaladdition</h3> *@
@layout MainLayout

<PageTitle>Squadtalk | PWR Links</PageTitle>

<h3>PWR Links</h3>

@{ List<Link> USOS =
   [
       new Link { DisplayedText = "ePortal", Url = "https://eportal.pwr.edu.pl/local/login/index.php" },
       new Link { DisplayedText = "USOS", Url = "https://web.usos.pwr.edu.pl/kontroler.php?_action=news/default" },
       new Link { DisplayedText = "Notion", Url = "https://www.notion.so/aer2019/Automatyka-i-Robotyka-c10629fcc08149238782f512ab94ff7a" },
       new Link { DisplayedText = "a tiny little surprise for ciuts", Url = "http://www.zto.ita.pwr.wroc.pl/index.php?strona=polecamy" }
   ];

   List<Link> ORO =
   [
       new Link { DisplayedText = "ketamine drifting", Url = "https://www.youtube.com/watch?v=zF26-bfAPsc&ab_channel=PapaFranklin"}
   ];
                      
}


<ButtonTemplate AfterButtonText="USOS related" ListOfLinks="USOS"/>

<ButtonTemplate AfterButtonText="USOS unrelated" ListOfLinks="ORO"/>


@code {


}