.user-card {
    cursor: pointer;
    display: grid;
    padding: 8px;
    grid-template-columns: auto 1fr;
    max-width: 200px;
    margin: 12px 0;
}

.username {
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
}

.status {
    grid-column: 2;
    grid-row: 2;
}